/**
* IMPORTS
*/
@import "mixins";


/**
 * CONSTANTS
 */


/**
 * CONTENT
 */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.ContentContainers {
    @include border-box();
    @include center(absolute)

    width: 100%;
    max-width: 800px;
    padding: $content_indentation;

    @include breakpoint-tablet {
        max-width: 450px;
        padding: $content_indentation--tablet;
        text-align: center;
    }

    @include breakpoint-phone {
        max-width: 300px;
    }

}
