.Countdown {
    @include border-box();
    @include flexbox-horizontal();
    @include flexbox-position(space-around, center);

    margin: 20px auto;

    &-box {
        @include flexbox-vertical();
        text-align: center;

        @include breakpoint-phone {
            margin: 5px;
        }

        &-value {
            width: 100px;
            padding: 10px;
            margin: 20px 0;
            background: $color_background_dark;

            @include breakpoint-tablet {
                width: 45px;
                font-size: $font_size_m;
                line-height: $font_line-height_l;
            }

            @include breakpoint-phone {
                padding: 0 5px;
                font-size: $font_size_s;
                line-height: $font_line-height_l;
            }
        }

        &-label {
            @include breakpoint-tablet {
                font-size: $font_size_s;
            }

            @include breakpoint-phone {
                font-size: $font_size_xs;
            }
        }
    }
}

.CountdownTitle {
    margin: 0 auto;

    @include breakpoint-tablet {
        font-size: $font_size_l;
        letter-spacing: $font_letter-spacing_s;
    }

    @include breakpoint-phone {
        margin-bottom: 50px;
        font-size: $font_size_s;
    }
}
